@font-face {
	font-family: "SFCompactText";
	src: url(../fonts/AnyConv.com__FontsFree-Net-SFCompactText-Light.woff2) format('woff2'),
		url(../fonts/AnyConv.com__FontsFree-Net-SFCompactText-Light.woff) format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "SFCompactText";
	src: url(../fonts/AnyConv.com__FontsFree-Net-SFCompactText-Regular.woff2) format('woff2'),
		url(../fonts/AnyConv.com__FontsFree-Net-SFCompactText-Regular.woff) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../fonts/AnyConv.com__FontsFree-Net-SFProDisplay-Heavy.woff2) format('woff2'),
		url(../fonts/AnyConv.com__FontsFree-Net-SFProDisplay-Heavy.woff) format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../fonts/AnyConv.com__FontsFree-Net-SFProDisplay-Medium-1.woff2) format('woff2'),
		url(../fonts/AnyConv.com__FontsFree-Net-SFProDisplay-Medium-1.woff) format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../fonts/AnyConv.com__FontsFree-Net-SFProDisplay-Semibold.woff2) format('woff2'),
		url(../fonts/AnyConv.com__FontsFree-Net-SFProDisplay-Semibold.woff) format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../fonts/AnyConv.com__SFPRODISPLAYBOLD.woff2) format('woff2'),
		url(../fonts/AnyConv.com__SFPRODISPLAYBOLD.woff) format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica";
	src: url(../fonts/AnyConv.com__helveticaBold.woff2) format('woff2'),
		url(../fonts/AnyConv.com__helveticaBold.woff) format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairDisplay";
	src: url(../fonts/AnyConv.com__PlayfairDisplay-Regular.woff2) format('woff2'),
		url(../fonts/AnyConv.com__PlayfairDisplay-Regular.woff) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SFProText";
	src: url(../fonts/AnyConv.com__FontsFree-Net-SFProText-Regular.woff2) format('woff2'),
		url(../fonts/AnyConv.com__FontsFree-Net-SFProText-Regular.woff) format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

