.slider-container {
	overflow-x: hidden;
	padding: 100px 0;
	width: 100%;
	margin-top: 50px;
	position: relative;
}
.featured-videos {
	padding-top: 150px;
	padding-bottom: 50px;
}

.featured-videos__descr {
	text-align: center;
	margin: 0 auto;
	max-width: 650px;
	font-family: 'SFCompactText', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #788692;
	margin-top: 26px;
}

.slider-container .swiper-slide {
	position: relative;
	min-height: 550px;
	width: 890px;
	transition: transform 0.3s;
	overflow: hidden;
}

.slider-container .swiper-slide::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 60%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
	border-radius: 8px;
	opacity: 0;
	transition: opacity 0.3s;
}

.slider-container .swiper-slide-active {
	transform: scaleX(1.16) scaleY(1.2);
	transition: transform 0.3s;
}

.slider-container .swiper-slide-active::after {
	opacity: 1;
	transition: opacity 0.3s;
}

.slider-container .swiper-slide__image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	min-height: 550px;
	border-radius: 8px;
}

.slide-title {
	position: absolute;
	left: 35px;
	bottom: 30px;
	z-index: 5;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: var(--white-color);
	transition: transform 0.3s ease-in-out;
	transform: translateY(200px);
}

.slider-container .swiper-slide-active .slide-title {
	transition: transform 0.3s ease-in-out;
	transform: translateY(0);
}
.slider-container .swiper-slide-active .slide-play {
	position: absolute;
	z-index: 5;
	background-image: url(/img/video-icon.svg);
	top: 48px;
	left: 40px;
	width: 112px;
	height: 112px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.slider-container .swiper-button-prev::after {
	color: var(--accent-color);
	font-size: 70px;
	padding-left: 50px;
	font-weight: 900;
}
.slider-container .swiper-button-next::after {
	color: var(--accent-color);
	font-size: 70px;
	padding-right: 50px;
	font-weight: 900;
}
